@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
}

/* heading and logo*/

#header {
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
    color: silver;
    font-size: xx-large;
}

.line {
    border: 2px solid silver;
    margin-top: 30px;
}

ul {
    text-align: center;
    color: silver;
    margin-top: 15px;
    list-style-type: none;
    font-size: large;
    letter-spacing: 4px;
}

li {
    display: inline;
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

li a {
    color: silver;
    text-decoration: none;
}

li a:hover {
    border-bottom: 1px solid silver;
}

/* hero image */

#hero-image {
    height: 800px;
    width: 100%;
    background-image: url('../images/hubble-telescope-gb67e34c1d_1920.jpg');
    background-repeat: no-repeat;
    margin-top: 30px;
}

/* Main Content */

.about-section {
    height: 600px;
    width: 100%;
    background-color: aqua;
    margin-top: 10px;
    text-align: center;

}

.creation-section {
    height: 600px;
    width: 100%;
    background-color: pink;
    padding-top: 20px;
    margin-top: 10px;
}

.launch-section {
    height: 600px;
    width: 100%;
    background-color: orange;
    padding-top: 20px;
    margin-top: 10px;
    text-align: center;
}

.launch-section>h2>p {
    float: right;
}

li a {
    color: silver;
}

.shuttle-img {
    height: 300px;
    width: 300px;
    background-image: url('../images/space-shuttle.jpg');
    background-repeat: no-repeat;
    float: left;
}

#footer {
    height: 200px;
    width: 100%;
    background-color: silver;
}

/* form section */

.back-image {
    height: 1000px;
    width: 100%;
    background-image: url('../images/dark\ shuttle.jpg');
    margin-top: 20px;
}

#sign-up-form {
    height: 500px;
    width: 800px;
    background-color: silver;
    text-align: center;
    opacity: 0.5;
    border: 3px solid black;
    border-radius: 5%;
    margin: auto;
    transform: translate(0, 50%)
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 80%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}